.jumbotron{
	background-color: #c7ceea;
	color: #270570; 
	margin-top: 50px;
}

footer{
	
	background-color:#c7ceea;
	padding: 30px 40px 0 40px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.oi-star{

	color: 	#EABE3F;
}

.card-hotel{

	flex: 1 200px;
	
	margin-top: 10px;
}

.btn-reserva{

	width: 100%;
	border-radius: 0;
	background-color:  #270570;
	border: 0; 
}

.btn-reserva:hover{

	background-color: black;
}

.footer-address-icon{

	padding-right: 10px;
}

.card-text{

	font-size: 70%;
	margin-top: 10px;
	text-align: left;
}

.card-subtitle{

	margin-bottom: 10px;
}

.btn-outline-primary{

	

	
	width: 25%;
	border-radius: 0;
	background-color:  #270570;
	border: 0; 
	color: white;
}

.btn-outline-primary:hover{

background-color: black;

}